@media (max-width: 900px) {
    body {             
        background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat left top;
        min-height: 100vh; 
                   
    }      

 .header a img {
        width: 230px; 
        margin-top: 30px;             
    }

.main-container {
        width: 100vw;        
        text-align: center;       
        align-items: center; 
        justify-content: center; 
        flex-direction: column;  
    }

.main-container img {
        width: 100%;       
        padding: 0 50px;
        margin-top: 50px;
       
    }

.main-container h1 {
        font-size: 30px;
    }

.main-container .informacoes p .texto {
        width: 300px;    
    }

.main-container .informacoes a {  /*Ver uma forma de centralizar usando display flex*/     
        /* position: relative;
        top: 50%; 
        left:50%; 
        transform: translate(-50%, -50%);
        margin-top: 30px; */
        margin: auto;
        display: block;
        margin-top: 10px;     
          
}

.footer .midia-social {
        justify-content: center;
        padding: 0 90px;       
    }

.midia-social a {
        width: 40px;
        height: 40px;
        font-size: 30px;   
}

}

